<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">
     <h:head>
        <title>User entities</title>
    </h:head>
    <h:body>
        <h:form>
           <h:commandButton action="#{userEntitiesManaged.BackToMain()}" value="Back to main"></h:commandButton>
        </h:form>

        <h:form>
            <h2>Todo display hero</h2>
        </h:form>

         <table border="1">
            <tr>
                <th><h1>Empires</h1></th>
            </tr>
                 <c:forEach var="empire" items="#{userEntitiesManaged.UserEmpires()}">
                     <tr>
                         <td>
                            <b>Empire name: </b> #{empire.empireName} <br/>                            
                            <b>Empire description: </b><br/>#{empire.empireDescription} <br/> 
                            
                            <h:form>
                                <h:commandButton  action="#{userEntitiesManaged.EditEmpire(empire.empireName)}" value="Edit empire"></h:commandButton>
                            </h:form>
                            
                             
                            <b>Empire level: </b>${empire.level} <br/>
                            <b>Population: </b><br/>
                            <ul>
                                <c:forEach var="pop" items="${empire.population}">
                                        <li>${pop.people.name} Quantity: ${pop.quantity} </li> 
                                </c:forEach>
                            </ul>
                            <b>Stock produce: </b> <br/>
                            <ul>
                                <c:forEach var="stock" items="${empire.produce}">
                                        <li>${stock.asset.description} ${stock.asset.name} Quantity: ${stock.quantity}/h </li> 
                                </c:forEach>
                            </ul>
                            <b>Stock warehouse: </b> <br/>
                            <ul>
                                <c:forEach var="wh" items="${empire.wareHouse}">
                                        <li>${wh.asset.description} ${wh.asset.name} Amount: ${wh.quantity}</li>
                                </c:forEach>
                            </ul>
                            <b>Buildings: </b> <br/>
                            <ul>
                                <c:forEach var="b" items="${empire.buildings}">
                                        <li>${b.buildingName} (
                                            <c:forEach var="c" items="${b.cost}">
                                                ${c.asset.name} - ${c.quantity},
                                            </c:forEach>
                                            )</li>
                                </c:forEach>
                            </ul>
                            
                            <h:form>
                                <h:commandButton  action="#{userEntitiesManaged.DeleteEmpire(empire.empireName)}" value="Delete empire"></h:commandButton>
                            </h:form> 
                         </td>
                     </tr>
                 </c:forEach>
        </table>
    </h:body>
</html>