<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsf/core">
     <h:head>
        <title>Edit empire</title>
    </h:head>
    <h:body>
        <h1>Edit Empire Information</h1>
        <h:form>
            Edit empire name: <h:inputText value="#{editEmpireManaged.empToEditName}"/><br/>
            Edit empire description: <h:inputText value="#{editEmpireManaged.empToEditDescription}"/><br/>
            <h:commandButton action="#{editEmpireManaged.Edit()}" value="Edit"></h:commandButton>
        </h:form>
    </h:body>
</html>
