<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsf/core">
     <h:head>
        <title>Menu</title>
    </h:head>
    <h:body>
        <h2>Todo Add hero</h2>
        
      <h:form>
          <h1> New Empire:</h1>
          <h:outputLabel value="Empire name: "></h:outputLabel>
          <h:inputText value="#{heroManaged.empName}" id="empireName" label="empire_name"/> <br/>
          <h:outputLabel value=" Empire description:"></h:outputLabel>
          <h:inputText value="#{heroManaged.empDescription}" id="empireDescription" label="empire_description"/> <br/>
          <h:outputLabel value=" Empire Level:"></h:outputLabel>
          <h:inputText value="#{heroManaged.empLevel}" id="empireLevel" label="empire_level"/> <br/>
          <h:commandButton action="#{heroManaged.CreateEmpire()}" value="Add empire"></h:commandButton>
    </h:form>
        <h:form>
            <h:commandButton action="#{heroManaged.DisplayUserEntities()}" value="Display user entities"></h:commandButton>
        </h:form>

        <h:form>
            <h:commandButton action="#{heroManaged.LogOut()}" value="Log out"></h:commandButton>
        </h:form>
    </h:body>
</html>
