<!DOCTYPE xhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsf/core">
   <h:head>
        <title>Start Page</title>
    </h:head>
    <h:body>
        <h1>Registration</h1>
         <h:form>
          <h:outputLabel value="User name:"></h:outputLabel>
          <h:inputText value="#{loginManaged.userName}" label="userName"/> <br/>
          <h:outputLabel value="User password:"></h:outputLabel>
          <h:inputText value="#{loginManaged.userPassword}" label="userPassword"/> <br/>
          <h:commandButton action="#{loginManaged.Register()}" value="Register"></h:commandButton>
        </h:form>
        
        <h:outputLabel value="#{loginManaged.status}"></h:outputLabel>
        
        <h1>Login</h1>
      <h:form>
          <h:outputLabel value="User name:"></h:outputLabel>
          <h:inputText value="#{loginManaged.userName}" id="userName" label="userName"/> <br/>
          <h:outputLabel value="User password:"></h:outputLabel>
          <h:inputText value="#{loginManaged.userPassword}" id="userPassword" label="userPassword"/> <br/>
          <h:commandButton action="#{loginManaged.Login()}" value="Login"></h:commandButton>
    </h:form>
    </h:body>
</html>
